body{
    margin-top: 10px;
    text-align: center;

}
h1{font-size: 30px;
margin-bottom: 2rem;}


button{
width: fit-content;
height: fit-content;
background-color: white;
    outline: 0;
    font-size: 5rem;
    border: none;
    box-shadow: 1px 2px 8px rgb(205, 205, 205);
    text-align: center;

}
button:hover{cursor: pointer;}


.select{scale: (1.5);
    transform: scale(1.5);
    transition: transform 0.2s ease;
flex-grow: ;}

#resetbtn{font-size: 2rem;}

.choices{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 7rem;
}
.pcoptions{
    font-size: 8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    margin: 5rem 0 1rem;
}
.pcoption{
position: absolute;
;}

#resetbtn:active{box-shadow: 0 0 0 ;
transform: scale(1.2)}

#resetbtn{height: fit-content;}

#scoretracker{display: flex;justify-content: space-around;
font-size: 2rem;}